@font-face {
  font-family: "default";
  src: url("../assets/snr.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "default";
  src: url("../assets/snb.ttf");
  font-style: normal;
  font-weight: bold;
}
